/* common shared font styles */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

/* header section styles */
.header {
    background: rgba(229, 84, 115, 0.10);
    height: 700px;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-greeting {

    margin: 190px 150px;
}

.header-title {

    padding-bottom: 30px;
    color: #272727;
    font-size: 50px;


}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 0px;
    padding-bottom: 30px;
}

.btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.primary-color {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 40px;
    color: #FFFFFF;
    border: none;
}

/* header image styles */

.header-img {
    width: 500px;
    height: 600px;
    margin-top: 98px;
    margin-right: 104px;



}

/* main section styles */


/* flower feature  */
.flower-feature {
    text-align: center;

}

.feature {
    margin-top: 170px;
}

.title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
    padding-bottom: 20px;
}

.feature-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 60px;

}

.flower-container {
    display: flex;
    justify-content: space-around;

}



.flower-img {
    height: 50px;
    width: 50px;
}

.names {
    /* display: block;
    text-align: center; */
}

.video {
    height: 190px;
    height: 190px;

}

.flower-details {
    

    /* background-image: url('/mulyadi-ouDz1gXoju4-unsplash.jpg'); */
}

/* service section styles */
.service {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 80px 150px;
    margin: 250px 0px;
}

.service-description {
    color: rgba(39, 39, 39, 0.80);
    font-size: 20px;
    
}