/* common shared font styles */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

/* header section styles */
.header {
    background: rgba(229, 84, 115, 0.10);
    height: 700px;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-greeting {

    margin: 190px 150px;
}

.header-title {

    padding-bottom: 30px;
    color: #272727;
    font-size: 50px;


}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 0px;
    padding-bottom: 30px;
}

.btn {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
}

.primary-color {
    border-radius: 8px;
    background: #E55473;
    padding: 15px 30px;
    color: #FFFFFF;
    border: none;
}

/* header image styles */

.header-img {
    width: 500px;
    height: 600px;
    margin-top: 98px;
    margin-right: 104px;



}

/* main section styles */

/* flower feature  */
.flower-container {
    display: flex;
    justify-content: space-around;
    height: 300px;
    width: 1320px;
}

.flower-feature {
    text-align: center;

}

.feature {
    margin-top: 170px;
}

.title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
    padding-bottom: 20px;
}

.feature-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 60px;

}

.flower-vdo {
    height: 50px;
    width: 50px;

}

.names {
    /* display: block;
    text-align: center; */
}

.video {
    height: 190px;
    height: 190px;
    border-radius: 5px;
    box-shadow: 8px 8px 8px gray;


}

.flower-details {
    height: 100px;
    width: 1200px
}

/* service section styles */

/* #width-control{
    max-width: 1140px;
    margin: 0 auto;
} */


.service {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 80px 150px;
    margin: 250px 100px 0px 100px;

}

.service-description {
    color: rgba(39, 39, 39, 0.80);
    font-size: 15px;


}

.service-icon1 {
    padding-left: 80px;
}

.service-icon2 {
    padding-left: 90px;
}

.service-icon3 {
    padding-left: 95px;
}

/* offer container */
.offer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 150px;
    height: 550px;
}

.offer {
    text-align: center;
}

.offer-title {
    padding-bottom: 20px;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.offer-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 20px;
    width: 50%;
    margin: auto;

}

.offer-flower-img {
    padding: 100px 200px 100px 100px;

}

.social-container {
    text-align: center;
}

.social-info {
    margin-top: 150px;
}

.social-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 20px;
}

.social-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 60px;

}

/* flower menus section styles */

.flower-menus-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 200px 100px 200px;

}

.item-list {
    width: 256px;
    height: 313px
}

/* deals information section styles */

.deals-container {
    background-image: url('/images/Rectangle\ 9.png');
    height: 440px;
    width: 1110px;
    margin: 100px 280px 100px 200px;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.deals-info {
    text-align: center;

}

.deals-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-top: 120px;
    padding-bottom: 15px;

}

.deals-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 35px;
}

.input-mail {
    padding: 12.5px 25px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    border-radius: 8px;
    background: #FFF;
    border: none;
    width: 40%;

}

/* footer section styles */

.footer-container {
    text-align: center;
    width: 100%;
    height: 100%;
    background: #111010;
}

.footer-title {
    color:rgb(219, 209, 209);
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 20px;
}
.text-color{
    color: #E55473;;
}

.footer-description {
    color: rgb(219, 209, 209);
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    padding-bottom: 30px;
    width: 50%;
    margin: auto;
}

.footer-info{
    padding-top: 100px;
    padding-bottom: 100px;
}

.content {
    color: white;
    font-size: 12px;
    font-weight: 400;
    padding-top: 20px;
}
hr{
    border: 1px solid rgb(119, 10, 10);
    width: 50%;
    margin: auto;
    
}